:root {
  --background: lightgrey;
  --container: #ffffff;
  --block: #ffffff;
  --inline: #ffe8df;
  --screen-width: #00ebc7;
  --child1: #ff5470;
  --child2: #fde24f;
  --child3: #3da9fc;
  --child4: #3da9fc;
  --child5: #994ff3;
  --child6: #ff5470;
  --border: black;
  --button-hover: #87cdf0;
}
